@font-face {
	font-family: 'galano_grotesque';
	src: url('../fonts/galano_grotesque_alt_demo-Bold.woff2') format('woff2'),
		 url('../fonts/galano_grotesque_alt_demo-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
