@import "colors";
@import '~matise-gryd/gryd-index.scss';
@import '~matise-gryd/gryd-once.scss';
@import "normalize";
@import "fonts";

@import "blocks";
// basic examples how to include image / font and a media query. 
// for more info goto: https://gryd.cydstumpel.nl
body{
	background:color(Light);
	// background-image: url('../../assets/img/image.png');
	.skip-link{
		display:none;
	}
	h1{
		font-family: Roboto;
		font-weight: 300;

		
		
	}
	
}

header{
	background-color: color(Dark);
	color: color(Light);
	a{ 
		color: inherit;
		text-decoration: none;
	}
}